<html lang="en">
 
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body style="background-color: #f5f6f4; margin: 0; padding: 0;">

<table width="100%" cellspacing="0" cellpadding="0" bgcolor="#f5f6f4">
   <tr>
      <td align="left">
         <table width="600" cellspacing="10" cellpadding="0" class="body">
            <tr>               
               <td align="left" valign="top" class="mainbar">
		  {{body|safe}}
               </td>
            </tr>
         </table>
      </td>
   </tr>
</table>

</body>
</html>
